<% title "高尔夫球" %>
<% keywords "高尔夫球,高尔夫球规则,高尔夫球杆,高尔夫球果岭"%>
<% head_desc "高尔夫球是一种以棒击球入穴的球类运动，GOLF象征着绿地、空气、阳光与友谊，它是一种把享受自然乐趣、体育锻炼和游戏集于一身的运动。"%>

<div class="container" style="margin-top:50px">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div>
        <h1>高尔夫球</h1>
        <div class="col-xs-4 col-sm-4 col-md-4 div-tag">
          <a href="#info">基本信息</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 div-tag">
          <a href="#changdi">场地要求</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 div-tag">
          <a href="#guize">比赛规则</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 div-tag">
          <a href="#zhuyi">注意事项</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 div-tag">
          <a href="#guiding">有关规定</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 div-tag">
          <a href="#jingshen">运动精神</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 div-tag">
          <a href="#huigan">高尔夫球挥杆</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 div-tag">
          <a href="#qiu">高尔夫球</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 div-tag">
          <a href="#qiugan">高尔夫球杆</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9">
      <section id="info">
        <div class="page-header">
          <h2>高尔夫球基本信息</h2>
        </div>
        <p class="ct">
        1. 高尔夫球定义</br>
        “高尔夫”是荷兰文kolf的音译，意思是"在绿地和新鲜氧气中的美好生活"。由此可以知道，高尔夫球是一种在优美环境中进行的高尚娱乐活动。因为玩这种游戏设备昂贵，所以在一些国家又叫它“贵族球”。 高尔夫球是一种以棒击球入穴的球类运动。如今，高尔夫球运动已经成为贵族运动的代名词，但是它是由一群牧羊人发明的!
        “高尔夫”原意为“在绿地和新鲜空气中的美好生活”。这从高尔夫球的英文单词GOLF可以看出来：G—绿色(green)；O—氧气（oxygen）；L—阳光（light）；F—友谊（friendship）。它是一种把享受大自然乐趣、体育锻炼和游戏集于一身的运动。
        相传，苏格兰是高尔夫球的发源地，当时，牧羊人经常用驱羊棍击石子，比赛击得远且准，这就是早期的高尔夫球运动。
        19世纪，高尔夫球传入美国。1922年，世界上第一次国际性比 赛是美国对英国的“沃克杯”高尔夫球对抗赛。高尔夫球于20世纪初引入中国。高尔夫球运动是在室外广阔的草地上进行，设9或18个穴。运动员逐一击球入穴，以击球次数少者为胜。比赛一般分单打和团体两种。
        1860年，英格兰举行了最早的高尔夫球公开赛。在这一年中，印度、加拿大、新西兰、美国等国家也相继举办比赛，继而进行国际、洲际及至世界性的比赛。世界杯、英格兰和美国公开赛这三项比赛，可以说是高尔夫球的最高水平的竞赛。
        2. 高尔夫球外形<br/>
        高尔夫球表面有意制造了许多的凹痕。
        高尔夫球的形状是空气动力学研究的成果之一。这与球体绕流（即绕球体的流动）的湍流转捩及分离流现象有关。
        光滑球体绕流时，湍流转捩发生的晚，与湍流对应的规则流动称为层流。而层流边界层较易发生流动分离现象（即流线离开球的表面），球体迎面形成高压区，背面形成较大的低压区，产生很大的阻力（压差阻力）。使高尔夫球飞行的距离很小。
        而球体表面有凹痕时，凹痕促使湍流转捩发生，湍流边界层不易发生流动分离现象，从而使球体背后的低压区小，减少了阻力。使高尔夫球飞行的距离增大。
        湍流的摩阻比层流要大，但与形阻相比，起得作用很小，总的阻力还是变小了。
        高尔夫球表面的小突起，也能起到促使分离的作用，但突起对流动的干扰有些难以控制，造成一些侧向力（也可以叫升力）。
        球体规则绕流是没有升力的。旋转会产生升力。合适的升阻比会使飞行距离增大。不同的旋转方向会造成“香蕉球”的效果。
        另外高尔夫规则规定高尔夫球不得被设计、制造或有意更改为具有不同于球体对称性的球的特性。
        3. 高尔夫球起源<br/>
        高尔夫球起源于15世纪的苏格兰。当时的牧羊人常用赶羊的棍子玩一种击石子的游戏，比比谁击得远击得准，这种游戏后来就演变成为高尔夫球。在电影《霍比特人》中，甘道夫说的高尔夫的起源是：“比尔博·巴金斯的曾曾曾祖叔“吼牛”图克在绿地战役对战半兽人军队，猛挥棒棍把兽人王的脑袋抡了下来，那头直接飞了几百米掉到兔子洞里。于是赢了那场战役，也由此发明了高尔夫球比赛！”这段话当时在电影院里笑翻不少观众！！
        根据《丸经》记载，捶丸游戏者互相尊重对方，还从对方的立场考虑如何击球，是一项十分绅士的运动。元朝时期的绘画“推丸图壁画”也证明了“捶丸”就是现在的高尔夫。
        明朝时期所绘的“宣宗行乐图”也印证了此观点。体魄健壮的宣宗手持杆正在凝视前方，好像在思索如何挥杆击球。树立欲求到中间的大树酷似一扇大窗户。达10米左右，宣宗准备一杆将球击过大树。此画一角还有手持球杆奔跑过来的球童。其实“捶丸”是有中国大陆的“步打球”演变发展而来的。至于究竟起于何时无从考究。《丸经》一书就是当时人们为了详细说明捶丸规则的书。
        捶丸的打法和高尔夫球也一致。如“人将木圆球儿打起老高，便落于窝内”，“击起球儿落入窝者胜”，“球行，或腾起，或斜起，或轮转，各随窝所在之宜”，“或立而击，或跪而击，节目甚多”。这些记述非常形象地说明：人在打球时，只能是站着将球打起老高，击起的球在空中作弧形滑行，要越过“障碍”落入窝者才为胜。像今天的高尔夫球比赛一样，那时的捶丸就有侧旋球、内外旋球等不同击球方式了。而且，除了站着击球式还有跪着击球式，各种姿势很多。
        </p>
      </section>
      <section id="changdi">
        <div class="page-header">
          <h2>高尔夫球场地要求</h2>
        </div>
        <p class="ct">
        1. 用地应满足高尔夫球娱乐活动的特点和技术要求，应选择交通便利、环境优美、绿色植被充裕茂盛和无污染的地段。</br>
        2. 高尔夫球场除主赛球场外，一般还应包括练习场地、俱乐部会馆、后勤服务、管理办公、停车场等，需要时还可附设度假居住设施、游泳池和其他娱乐设施等等。</br>
        3. 高尔夫球场需有较开阔的草坪，一般宜利用丘陵缓坡地带设置，占地约65000~ 70000平方米，球道处地面起伏高差10~20m为宜。</br>
        4. 正规球场应划分为18个大小不一、形状各异的场地，每块场地均由开球台、球道、果岭和球洞组成。由开球台到球洞的间距为至548m不等。标准球场的总长为5943m至6400m,宽度不定。球场四周应有界线标志，关键地段设置界桩。每个分场地占地3~3.5平方百米。<br/>
        5. 开球台即是开球用的草坪，台上有两个球状标记，相距4.5m左右，两个标记之间的连线即称开球线。开球台一般面积30~150平方米，较其周围地表高约0.3~1.0m,表面为修剪过的短草，有一定坚硬度且表面平滑。一般每个洞的开球台设两个，分别供男女选手使用。如供正式比赛使用，还需增设第三个开球台。球洞应高出开球台，但不宜超过20m.<br/>
        6. 果岭为球洞所处的区域，其平面多呈近似圆形或椭圆形的自由形状，表面种植优质草坪，并经修剪和碾压密实，略有缓坡起伏，使球能在场地上无阻碍地滚动。<br/>
        </p>
        <img src="/images/golf_changdi.png" alt="高尔夫球 场地">
      </section>
      <section id="guize">
        <div class="page-header">
          <h2>高尔夫球 比赛规则</h2>
        </div>
        <p>高尔夫规则要略 从事任何运动之前，均须了解该运动的基本规则方能尽兴，避免于贻笑大方。高球运动看重绅士风度之展现，对基本规则的认识更不能等闲视之。因此，就高球基本规则、比杆赛与比洞赛之差异、各种击球状况产止确判断和处理以及参加比赛注意事项等加以说明。</p>
        <p class="ct">
        1. 高尔夫球比赛是依照规则从发球区开始经一次击球或连续击球将球打入洞内。</br>
        2. 对球施加影响除按时规则行动以外，球员或球童不得有影响球的位置或运动的任何行为。</br>
        3. 商议的违反规则球员不得商议排除任何规则的应用或免除已被判决的处罚。</br>
        4. 所谓比杆赛，就是将每一洞的杆数累计起来，待打完一场(十八洞)后，把全部杆数加起来，以总杆数来评定胜负。</br>
        5. 比洞赛亦是以杆数为基础，然其不同处于比洞赛是以每洞之杆数决定该洞之胜负，每场再以累积之胜负洞数来裁定成绩。</br>
        6. 省略进洞之差异 比杆赛规定必须待球被击入球洞后，因此只要对方同意就不必坚持球皆需进洞之原则。</br>
        7. 罚则之差别 在比杆赛和比洞赛中。</br>
        </p>
      </section>
      <section id="zhuyi">
        <div class="page-header">
          <h2>高尔夫球注意事项</h2>
        </div>
        <p class="ct">
        1. 若是与朋友间的比赛迟到，定会被列为最不受欢迎的球友；若是正式比赛场合中迟到，轻则受罚，重则丧失比赛资格。</br>
        2. 比杆赛中对迟到者处罚两杆。</br>
        3. 比洞赛则判第一洞输球。</br>
        </p>
      </section>
      <section id="guiding">
        <div class="page-header">
          <h2>高尔夫球 有关规定</h2>
        </div>
        <p class="ct">
        1. 当整个球处在界外时，球为出界；判断标准是界线柱最内侧的点在地面上的连线，或有些情况下为边界线。</br>
        2. 当球的任何部分接触到水障区标记线时，球就是处于水障区了。要记住标志柱本身也是水障区的一部分。</br>
        3. 当球的任何部分接触到果岭时，球就是位于球洞区了，如果球在果岭边缘，有一部分突出于果岭之外， 则不能算是在球洞区。</br>
        4. 如果球的任何部分位于发球区内，则应视为在发球区内架球。发球区是一个长方形的区域，宽度为两个球杆的长度，前面和侧面由发球区标记的外界限来决定。</br>
        </p>
      </section>
      <section id="jingshen">
        <div class="page-header">
          <h2>高尔夫球 运动精神</h2>
        </div>
        <h3>精髓</h3>
        <p class="ct">
        与许多其他运动项目不同，高尔夫球运动大多是在没有裁判员监督的情形下进行的。这项运动依靠每个参与者主动为其他球员着想和自觉遵守规则的诚实和信用。不论对抗多么激烈，所有球员都应当自觉约束自己的行为，在任何时候都表现出礼貌谦让和良好的运动精神。这就是高尔夫球运动的精髓所在。
        </p>
        <h3>安全</h3>
        <p class="ct">
        球员在击球或进行练习挥杆时，应确保球杆可能击打到的地方及可能因击球或挥杆而被球或任何石块、小石子、树枝等打到的地方及其附近无人站立。</br>
        在前面一组球员还没有走出球的射程可及范围之前，球员不应当打球。</br>
        在球员的击球可能会危及附近或前方的球场管理人员时，球员应当随时提醒有关人员。</br>
        如果球员打球后球飞向可能会击中别人的方向，球员应当立即高声喊叫进行警告，在该场合告警的惯用语是“看球”。</br>
        </p>
        <h3>为球员着想</h3>
        <p class="ct">
        不要干扰或影响他人</br>
        球员在球场上要始终为其他球员着想，不应以走动、讲话或制造不必要的噪声干扰他人打球。</br>
        球员应当确保自己带到球场的任何电子用品不会对其他球员造成影响。</br>
        在发球台上，在轮到自己发球之前球员不应先架球。</br>
        当其他准备打球时，球员不应站在球或球洞附近或站在球或球洞的正后方。</br>
        </p>
        <h3>球场保护</h3>
        <p class="ct">
        在离开沙坑前，球员应仔细地平整好他在沙坑内造成的所有坑穴和足迹以及他人在附近造成的坑穴和足迹。如果沙坑附近有沙耙，应当使用沙耙进行平整。
        </p>
        <h3>避免损伤</h3>
        <p class="ct">
        球员应当避免对球场造成伤害，如在进行练习挥杆削起草皮，或因生气或其他任何原因用球杆杆头砸击地面。</br>
        球员在离开球洞区之前应将旗杆正确地放回球洞中。</br>
        球员应严格遵守当地有关驾驶高尔夫球车的注意事项。</br>
        </p>
      </section>
      <section id="huigan">
        <div class="page-header">
          <h2>高尔夫球挥杆</h2>
        </div>
        <p>一个完整的收杆动作应是：</p>
        <p class="ct">
        1.重心充份的移转至左腿，且落在左脚掌的外侧，右脚以脚尖点地。</br>
        2.身体正向目标。</br>
        3.双掌在左肩上方。</br>
        4.视线仍停留在球位上。</br>
        5.保持身体平衡。</br>
        6.不良的收杆动作，通常都导因于前述放与跟的动作不佳所引起。</br>
        7.常见的错误中尚有右脚承受过多的重量。</br>
        8.左脚过于侧向目标，造成移位太多或下背部过度扭曲，此动作不但易造成失击，而且对你的脊椎骨易造成相当程度的伤害（倒C型的收杆动作）</br>
        </p>
        <img src="/images/golf_huigan1.png" alt="高尔夫球挥杆 连续图">
        <img src="/images/golf_huigan2.png" alt="高尔夫球挥杆 黄昏">
      </section>
      <section id="qiu">
        <div class="page-header">
          <h2>高尔夫球</h2>
        </div>
        <h3>单层求</h3>
        <p class="ct">
        单层球(One-Piece-Ball）这种球也可以叫做一体球或一件头球，一般仅用于练习或用于练习场(Driving Range)。球体由硬橡胶压制而成，并且涂漆。
        </p>
        <h3>双层球</h3>
        <p class="ct">
        双层球(Two-Piece-Ball)这种球也叫做双体球或两件头球，是最常用的球。球心外面为硬橡胶或塑料，或者是其混合物(配方通常保密)制成外壳，厚度约为1毫米。由于外壳质地不同，成分不同，坚固性与抵抗力(Durability)不同，硬度不同，颜色以及凹痕不同，就产生不同的特性与效能，表现在击球的高度、远度与滚动性等方面。</br>
        从球的结构本身并不能推断出其功能如何。双层球，即由一个大的球心和一个相对来说较薄的外壳组成的球，过去被称之为“远距离球”(Distance Banlls)。球的飞行距离较长，因为它倒回旋较少，速度较高，球手击球时有硬实的击球感。运用先进的工艺手段已可以制造出这种效能较高的比赛用球。这种球较软，旋转快，因而深受PGA巡回赛选手们的青睐。市场上大多数飞行距离远，或者说抗损耗的高尔夫球均采用这一结构。</br>
        </p>
        <h3>三层球</h3>
        <p class="ct">
        三层球 (Three-Piece-Ball)也可以叫做三件头球，只供水平较高的球手使用。在由橡胶或塑料或混合物做的大约相当于棒子大小的球心外面包围着充满液体的胆，像线团状般缠绕薄橡皮条，外壳为橡胶制品巴拉塔(树胶)。高水平球手喜欢使用这种胶核液体球心球，因为击球时可以找到感觉，容易控制。如果击球不准，也容易产生裂口和切痕。</br>
        过去爱用三层球的都是一些比较注重球的旋转和软一些感觉的球手，因而他们宁肯不追求把球打出远距离。这种球的新的结构不再有这一缺点，因为球的飞行速度和抵抗力都有明显的提高。目前大多数具有最高旋转性和最佳击球感觉的球仍采用这一久经考验的三层结构。</br>
        </p>
        <h3>多壳球</h3>
        <p class="ct">
        击球越有力，球越容易变形。多层球就是根据这个道理设计和制造的，目的在于任何击球力度都能产生最佳结果。球心的设计是为了便于使用开球杯能将球打得尽可能远；中间层适应铁杆大力击球；外壳适合获取最佳击球感觉以及半挥杆，切击球和推杆时的回旋球。</br>
        最新设计的球在球心和外壳内开始渗进钛、钨和镁等金属粉末，在球体中附加这类金属是为了加强其强度和改变球体内的重量分布。材料学是当代前沿科学之一，其研究成果运用到高尔夫器材上已非玩笑，很可能孕育着一场革命性的变革。对于这种“金属球”，有的职业球手开玩笑说，要是球洞里有块磁铁就好了。</br>
        </p>
        <img src="/images/golf_qiu1.png" alt="高尔夫球 近照">
        <img src="/images/golf_qiu2.png" alt="高尔夫球 示意图">
      </section>
      <section id="qiugan">
        <div class="page-header">
          <h2>高尔夫球杆</h2>
        </div>
        <p>按球杆的不同用途，和球杆被设计成不同的杆头形状和杆身长度，这样高尔夫球杆大致可分为木杆、铁杆、挖起杆以及推杆，还有一种介于铁杆和木杆之间的球杆，叫混合杆，又叫铁木杆。</p>
        <h3>木杆</h3>
        <p class="ct">
        木杆为何叫木杆是因为以前的杆头多以木头制造而得其名，最早是以红柿木制成的。因为木头遇水会膨胀，早期雨天击球球杆使用后都会送到pro shop保养；后来才演变使用不同的材质制造。铁、不锈钢、碳纤维、钛金属都有使用到。最流行的球杆材质应是钛金属。除了不须费时保养外，钛金属的反弹效益较强，可打较远，现今许多球场因无法增加长度距离，因此对职业选手选用木杆的反弹系数有一定的规格，USGA规定反弹系数不大于0.83。除开球用的1号木杆外，球道木杆尚有3、4、5、7、9。对女生而言3、4木较难打，所以才会推出仰角更高的7号或9号木出现。
        </p>
        <h3>铁木杆</h3>
        <p class="ct">
        铁木杆是介于铁杆和木杆之间的球杆，叫混合杆，又叫铁木杆。
        </p>
        <h3>铁杆</h3>
        <p class="ct">
        铁杆分长中短杆，长铁杆通常指的是3号4号，5、6、7为中铁杆，短铁杆则为8、9、10。使用长铁杆的人越来越少，多数改以小鸡腿代替。长铁杆通常不容易打高，容易产生右曲球。长铁杆因为角度小，碰上大逆风时，就派得上用场。铁杆桉球头设计不同分刀背式和凹背式，刀背式重心较高，较不容易做出杆头释放的感觉；而凹背式则重心较低，有的甚至做到超低重心，底部较重，甜蜜点面积较大，因而较易击中球，也可打的高些。市场上多见到凹背式的。短杆还有劈起杆（P），挖起杆（A），沙坑杆（S），短杆方面通常职业选手较为讲究，还细分不同角度，52度53度60 度等等。不同角度可击出不同的球的高度和不一样的旋转程度。对业余选手而言通常挖起杆和沙坑杆共享，10号约等于P，11号则等于A（角度更大）。
        </p>
        <h3>推杆</h3>
        <p class="ct">
        最早推杆多设计成L型的，也有少数职业选手仍沿用传统L型推杆，到后来的PING Putter，发展至two balls甚至three balls，马蹄型圆锥型，各式能让人感受平衡的推杆。
        </p>
        <img src="/images/golf_gan1.png" alt="高尔夫球杆详解">
        <img src="/images/golf_gan2.png" alt="高尔夫球 木杆 铁杆 铁木杆 推杆">
      </section>

      <div class="page-header">
      </div>
      <di     v>
      <div class="accordion-toggle " data-toggle="collapse" data-parent="#accordion2" href="#ps">
        <p class="muted" style="font-size:12px"><a href="#"> + ps: </a></p>
      </div>
      <div id="ps" class="accordion-body collapse">
        <div class="accordion-inner">
          <p class="muted" style="font-size:12px">更新于2014年7月9日</p>
          <p class="muted" style="font-size:12px">高尔夫球基础知识</p>
          <p class="muted" style="font-size:12px"></p>
          <p class="muted" style="font-size:12px"></p>
        </div>
      </div>
    </div>
    <div class="page-header">
    </div>
  </div>
</div>
<div id="toTop">^</div>
