/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.rule_detail li,p{
  font-size: 20px;
}
.affix_menu{
  padding-top: 80px
}
#toTop {
  width:45px;
  border:1px solid #ccc;
  /*background:#428bca;*/
  text-align:center;
  position:fixed; /* this is the magic */
  bottom:10px; /* together with this to put the div at the bottom*/
  right:10px;
  cursor:pointer;
  display:none;
  /*color:#fff;*/
  font-family:verdana;
  font-size:20px;
}

.div-tag{
  margin: 0 0 15px 0;
  padding: 10px 0 10px 0;
  background-color: #428bca;
  border:1px solid #fff;
  text-align: center;
}
.div-tag a{
  color: #fff;
}
